{
  "upstream": {
    "whitelist": [
        "10.0.0.0/8"
    ],
    "method": "x-forwarded-for"
  },
  "smtp": {
    "host": "20.0.0.2",
    "port": 25,
    "recipient": "siteowner@example.com"
  },
  "smtptest": {
    "enabled": true,
    "helo": "example.com",
    "from": "smtp-user-check@example.com"
  },
  "ip_cache": {
    "file": "cache.json"
  },
  "abuseipdb": {
    "enabled": true,
    "api_key": "your key goes here"
  },
  "cors": {
    "origins": ["https://example.com"]
  },
  "rate_limit": {
    "rate": 0.00333,
    "burst": 1,
    "expires_in": 1800
  },
  "spam_protection": [
    {
      "field": "yourwebsite",
      "type": "honeypot"
    },
    {
      "field": "javascript",
      "type": "setvalue",
      "value": "42"
    },
    {
      "field": "cryptographicsecretsaregreat",
      "type": "token",
      "value": "replace-with-a-long-random-secret"
    }
  ]
}
